@page "/edit-report-pivot-table"
@page "/edit-report-pivot-table/{Id:long}"


@inherits Form<DashboardReport, BrowserData>;

@{ base.BuildRenderTree(__builder);}

@code{

    public override RenderFragment LeftContent => __builder =>
    {
        if (EditorData != null)
        {
        @BodyRender
        }
    };

    private RenderFragment BodyRender => __builder =>
    {
        if (EditorData != null)
        {
            <PivotTableComponent Editable=Editable Entities=Entities @bind-EditorData=EditorDataBinding
                             RefreshDesignContentHandler=RefreshDesignContent
                             RefreshDataContentHandler=RefreshDataContent />
        }
    };

    public override RenderFragment RightContent => CurrentRightContent;

    public RenderFragment RightContent_ => __builder =>
    {
        @RightContentSendTag
    };

    public RenderFragment RightContentSend => __builder =>
   {
    <div class="m-0 p-0 d-flex flex-column grid-bc-two-tab">    
            <DxLayoutBreakpoint DeviceSize="DeviceSize.Medium | DeviceSize.Small | DeviceSize.XSmall | DeviceSize.Large" @bind-IsActive="IsSmallScreen" />
            <GridItemInfos Editable=Editable
                           @bind-EditorData=EditorDataBinding
                           T="Models.Dashboards.DashboardReport"
                           DisplayGroup="true" DisplayVisibleInShortcut="true" />
    </div>
};

 public RenderFragment RightContentSendTag => __builder =>
 {
    <DxTabs CssClass="h-100" @bind-ActiveTabIndex="ActiveTabIndexFilter" ScrollMode="TabsScrollMode.Auto">
        <DxTabPage Text="@AppState["Properties"]" CssClass="m-0 p-0 h-100">
            @RightContentSend
        </DxTabPage>
        <DxTabPage Text="@AppState["Grid.admin.filter"]" CssClass="h-100">
            @AdminContentFilter
        </DxTabPage>
        <DxTabPage Text="@AppState["Grid.user.filter"]" CssClass="h-100">
            @UserContentFilter
        </DxTabPage>
    </DxTabs>
};

public RenderFragment AdminContentFilter => __builder =>
       {
        @if (EditorData != null && EditorData.Item != null)
         {
            <FilterComponent Editable=Editable @key=AdminFilterKey @bind-UniverseFilter=AdminFilterBinding
                             Attributes="@Entities"
                             Measures="@EditorData.Measures"
                             Periods="EditorData.Periods"
                             Filterstyle="@Filterstyle"
                             CanRefreshGrid="false"
                             FilterName=@AdminFilterKey>
            </FilterComponent>
         }
    };

public RenderFragment UserContentFilter => __builder =>
   {
    @if (EditorData != null && EditorData.Item != null)
       {
        <FilterComponent Editable=Editable @key=UserFilterKey @bind-UniverseFilter=UserFilterBinding
                         Attributes="@Entities"
                         Measures="@EditorData.Measures"
                         Periods="EditorData.Periods"
                         Filterstyle="@Filterstyle"
                         CanRefreshGrid="false"
                         FilterName=@UserFilterKey>
        </FilterComponent>
       }
   };
}


