@typeparam T


<DxLayoutBreakpoint DeviceSize="DeviceSize.Medium | DeviceSize.Small | DeviceSize.XSmall" @bind-IsActive="IsSmallScreen" />
<DxGridLayout CssClass="w-100 ml-2" RowSpacing="10px" ColumnSpacing="10px">
    <Rows>
        <DxGridLayoutRow Areas="R1" Height="auto" />
        <DxGridLayoutRow Areas="R2" Height="auto" />
        <DxGridLayoutRow Areas="R3" Height="auto" />
        <DxGridLayoutRow Areas="R4" Height="auto" />
    </Rows>
    <Columns>
        <DxGridLayoutColumn Width="100%" />
    </Columns>
    <Items>
        <DxGridLayoutItem Area="R1">
            <Template>
                <DxGridLayout ColumnSpacing="0px">
                    <Rows>
                        @if (IsSmallScreen)
                        {
                            <DxGridLayoutRow Areas="R1NameValue" Height="auto" />
                        }
                        else
                        {
                            <DxGridLayoutRow Areas="R1Name R1NameValue " Height="auto" />
                        }
                    </Rows>
                    <Columns>
                        @if (IsSmallScreen)
                        {
                            <DxGridLayoutColumn Width="1fr" />
                        }
                        else
                        {
                            <DxGridLayoutColumn Width=@LabelWidth />
                            <DxGridLayoutColumn Width=@TextWidth />
                        }
                    </Columns>
                    <Items>
                        @if (!IsSmallScreen)
                        {
                            <DxGridLayoutItem Area="R1Name" />
                        }
                        <DxGridLayoutItem Area="R1NameValue">
                            <Template>
                                <div class="d-flex flex-row p-0">
                                    <div class="pl-0">
                                        <DxCheckBox Enabled=Editable @bind-Checked=Credit
                                                    Alignment="CheckBoxContentAlignment.Left" LabelPosition="LabelPosition.Right">
                                            @AppState["Credit"]
                                        </DxCheckBox>
                                    </div>
                                    <div class="pl-0 ml-2">
                                        <DxCheckBox Enabled=Editable @bind-Checked=Debit
                                                    Alignment="CheckBoxContentAlignment.Left" LabelPosition="LabelPosition.Right">
                                            @AppState["Debit"]
                                        </DxCheckBox>
                                    </div>
                                </div>
                            </Template>
                        </DxGridLayoutItem>
                    </Items>
                </DxGridLayout>
            </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Area="R2">
            <Template>
                <DxGridLayout ColumnSpacing="0px">
                    <Rows>
                        @if (IsSmallScreen)
                        {
                            <DxGridLayoutRow Areas="R1NameValue" Height="auto" />
                        }
                        else
                        {
                            <DxGridLayoutRow Areas="R1Name R1NameValue " Height="auto" />
                        }
                    </Rows>
                    <Columns>
                        @if (IsSmallScreen)
                        {
                            <DxGridLayoutColumn Width="1fr" />
                        }
                        else
                        {
                            <DxGridLayoutColumn Width=@LabelWidth />
                            <DxGridLayoutColumn Width=@TextWidth />
                        }
                    </Columns>
                    <Items>
                        @if (!IsSmallScreen)
                        {
                            <DxGridLayoutItem Area="R1Name" />
                        }
                        <DxGridLayoutItem Area="R1NameValue">
                            <Template>
                                <DxCheckBox Enabled=Editable @bind-Checked=ShowAllRowsByDefault
                                            Alignment="CheckBoxContentAlignment.Left" LabelPosition="LabelPosition.Right">
                                    @AppState["show.all.row.by.default"]
                                </DxCheckBox>
                            </Template>
                        </DxGridLayoutItem>
                    </Items>
                </DxGridLayout>
            </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Area="R3">
            <Template>
                <DxGridLayout ColumnSpacing="0px">
                    <Rows>
                        @if (IsSmallScreen)
                        {
                            <DxGridLayoutRow Areas="R1NameValue" Height="auto" />
                        }
                        else
                        {
                            <DxGridLayoutRow Areas="R1Name R1NameValue " Height="auto" />
                        }
                    </Rows>
                    <Columns>
                        @if (IsSmallScreen)
                        {
                            <DxGridLayoutColumn Width="1fr" />
                        }
                        else
                        {
                            <DxGridLayoutColumn Width=@LabelWidth />
                            <DxGridLayoutColumn Width=@TextWidth />
                        }
                    </Columns>
                    <Items>
                        @if (!IsSmallScreen)
                        {
                            <DxGridLayoutItem Area="R1Name" />
                        }
                        <DxGridLayoutItem Area="R1NameValue">
                            <Template>
                                <div class="pl-0">
                                    <DxCheckBox Enabled=Editable @bind-Checked=AllowAccounting
                                                Alignment="CheckBoxContentAlignment.Left" LabelPosition="LabelPosition.Right">
                                        @AppState["allow.row.counting"]
                                    </DxCheckBox>
                                </div>
                            </Template>
                        </DxGridLayoutItem>
                    </Items>
                </DxGridLayout>
            </Template>
        </DxGridLayoutItem>

        <DxGridLayoutItem Area="R4">
            <Template>
                <DxGridLayout ColumnSpacing="0px">
                    <Rows>
                        @if (IsSmallScreen)
                        {
                            <DxGridLayoutRow Areas="R1NameValue" Height="auto" />
                        }
                        else
                        {
                            <DxGridLayoutRow Areas="R1Name R1NameValue " Height="auto" />
                        }
                    </Rows>
                    <Columns>
                        @if (IsSmallScreen)
                        {
                            <DxGridLayoutColumn Width="1fr" />
                        }
                        else
                        {
                            <DxGridLayoutColumn Width=@LabelWidth />
                            <DxGridLayoutColumn Width=@TextWidth />
                        }
                    </Columns>
                    <Items>
                        @if (!IsSmallScreen)
                        {
                            <DxGridLayoutItem Area="R1Name" />
                        }
                        <DxGridLayoutItem Area="R1NameValue">
                            <Template>
                                <DxCheckBox Enabled=Editable @bind-Checked=UseLink
                                            Alignment="CheckBoxContentAlignment.Left" LabelPosition="LabelPosition.Right">
                                    @AppState["using.link"]
                                </DxCheckBox>
                            </Template>
                        </DxGridLayoutItem>
                    </Items>
                </DxGridLayout>
            </Template>
        </DxGridLayoutItem>
    </Items>
</DxGridLayout>
