<DxLayoutBreakpoint DeviceSize="DeviceSize.XSmall | DeviceSize.Small" @bind-IsActive="@IsXSmallScreen" />
<DxStackLayout Orientation="Orientation.Vertical" CssClass="w-100 h-100 m-0 p-1" ItemSpacing=@ItemSpacing>
    <Items>
        <DxStackLayoutItem Length="auto">
            <Template>
                <RecoConfigurationRow Item1Length="50%" Item2Length="50%">
                    <Item1>
                        <RecoConfigurationRow Item2="attributTypeRender()" Item1Length=@Item1Length Item2Length=@Item2Length>
                            <Item1>
                                <label class="@(IsXSmallScreen ? labelSm : labelLg)">@AppState["Reconciliation.RecoType"]</label>
                            </Item1>
                        </RecoConfigurationRow>
                    </Item1>
                    <Item2>
                        <RecoConfigurationRow Item1Length=@Item1Length Item2Length=@Item2Length>
                            <Item1>
                                <label class="@(IsXSmallScreen ? labelSm : labelLg)">@AppState["Reconciliation.Reco.sequence"]</label>
                            </Item1>
                            <Item2>
                                <DxComboBox Enabled=Editable Data="GetEditorData.Sequences" CssClass="h-100 d-flex flex-column justify-content-center"
                                            TData="Nameable" TValue="Nameable" @bind-Value=RecoSequenceId />
                            </Item2>
                        </RecoConfigurationRow>
                    </Item2>
                </RecoConfigurationRow>
            </Template>
        </DxStackLayoutItem>
        <DxStackLayoutItem Length="auto">
            <Template>
                <RecoConfigurationRow Item1Length="50%" Item2Length="50%" CssClass="mt-auto mb-auto">
                    <Item1>
                        <RecoConfigurationRow Item1Length=@Item1Length Item2Length=@Item2Length Item2="LeftMeasuresRender()">
                            <Item1>
                                <label class="@(IsXSmallScreen ? labelSm : labelLg)">@AppState["Reconciliation.LeftMeasure"]</label>
                            </Item1>
                        </RecoConfigurationRow>
                    </Item1>
                    <Item2>
                        <RecoConfigurationRow Item1Length=@Item1Length Item2Length=@Item2Length Item2="RigthMeasuresRender()">
                            <Item1>
                                <label class="@(IsXSmallScreen ? labelSm : labelLg)">@AppState["Reconciliation.RightMeasure"]</label>
                            </Item1>
                        </RecoConfigurationRow>
                    </Item2>
                </RecoConfigurationRow>
            </Template>
        </DxStackLayoutItem>
        <DxStackLayoutItem Length="auto">
            <Template>
                <RecoConfigurationRow Item1Length="50%" Item2Length="50%" CssClass="mt-auto mb-auto">
                    <Item1>
                        <RecoConfigurationRow Item1Length=@Item1Length Item2Length=@Item2Length>
                            <Item1>
                                <label class="@(IsXSmallScreen ? labelSm : labelLg)">@AppState["Reconciliation.RecoFormula"]</label>
                            </Item1>
                            <Item2>
                                <DxComboBox Enabled=Editable CssClass="h-100 d-flex flex-column justify-content-center" Data="Bcephal.Models.Reconciliation.ReconciliationModelBalanceFormula.GetMethods()"
                                            TData="Bcephal.Models.Reconciliation.ReconciliationModelBalanceFormula"
                                            TValue="Bcephal.Models.Reconciliation.ReconciliationModelBalanceFormula"
                                            TextFieldName="label"
                                            @bind-Value=BalanceFormula>
                                </DxComboBox>
                            </Item2>
                        </RecoConfigurationRow>
                    </Item1>
                    <Item2>
                    </Item2>
                </RecoConfigurationRow>
            </Template>
        </DxStackLayoutItem>
        <DxStackLayoutItem Length="auto">
            <Template>
                <RecoConfigurationRow Item1Length="50%" Item2Length="50%" CssClass="mt-auto mb-auto">
                    <Item1>
                        <DxStackLayout Orientation="Orientation.Vertical" CssClass="w-100 h-100 m-0 p-0" ItemSpacing=@ItemSpacing>
                            <Items>
                                <DxStackLayoutItem Length="auto">
                                    <Template>
                                        <RecoConfigurationRow Item1Length=@Item1Length Item2Length=@Item2Length>
                                            <Item1>
                                                <label class="@(IsXSmallScreen ? labelSm : labelLg)"></label>
                                            </Item1>
                                            <Item2>
                                                <DxCheckBox Enabled=Editable CssClass="m-0 p-0 w-100  mr-auto" @bind-Checked=UseDebitCredit
                                                            Alignment="CheckBoxContentAlignment.Left"> @AppState["Reconciliation.UseDc"]</DxCheckBox>
                                                        </Item2>
                                                    </RecoConfigurationRow>
                                                </Template>
                                            </DxStackLayoutItem>
                                            <DxStackLayoutItem Length="auto">
                                                <Template>
                                                    <RecoConfigurationRow Item1Length=@Item1Length Item2Length=@Item2Length>
                                                        <Item1>
                                                            <label class="@(IsXSmallScreen ? labelSm : labelLg)"></label>
                                                        </Item1>
                                                        <Item2>
                                                            <DxCheckBox Enabled=Editable @bind-Checked="AllowDebitCreditLineColor" Alignment="CheckBoxContentAlignment.Left"> @AppState["Reconciliation.DebitLines"]</DxCheckBox>
                                                        </Item2>
                                                    </RecoConfigurationRow>
                                                </Template>
                                            </DxStackLayoutItem>
                                        </Items>
                                    </DxStackLayout>
                                </Item1>
                                <Item2>
                                </Item2>
                            </RecoConfigurationRow>
                        </Template>
                    </DxStackLayoutItem>
                </Items>
            </DxStackLayout>

@code{
    public RenderFragment RigthMeasuresRender() => __builder =>
    {
        @if (EditorData != null)
        {

            <TreeViewFilter C="Measure"
                            Editable=Editable
                            ItemsFilter="EditorData.Measures"
                            SelectFilterItemCallback=RightSelectFilterItemCallback
                            SelectedItem=@(RigthMeasure != null ? RigthMeasure.Name : "")>
            </TreeViewFilter>
        }
    };

    public RenderFragment LeftMeasuresRender() => __builder =>
    {
        @if (EditorData != null)
        {
            <TreeViewFilter C="Measure"
                            Editable=Editable
                            ItemsFilter="EditorData.Measures"
                            SelectFilterItemCallback=LeftSelectFilterItemCallback
                            SelectedItem=@(LeftMeasure != null ? LeftMeasure.Name : "")>
            </TreeViewFilter>
        }
    };
}
