<BaseModalComponent @ref="ModalCond" Title="@Title" Height="50%" ApplyBackgroundShading="true" CssClass="bc-mw-60" BodyClass="overflow-auto" @bind-ShowModal=ShowDialog OkHandler="OkHandler" CancelHandler="CancelHandler">
    <DxStackLayout ItemSpacing="3px" Orientation=Orientation.Vertical>
        <Items>
            <DxStackLayoutItem CssClass="bc-dc h-100 ml-1 mr-1 mx-auto">
                <Template>
                    @if (CurrentAlarm != null)
                    {
                        <div class="mt-1 p-0">
                            @foreach (var Item in CurrentAlarm.condition.ItemListChangeHandler.Items)
                            {
                                @RenderCondExpItem(Item, true)
                            }
                        </div>
                        <div class="mt-1 p-0">
                            @RenderCondExpItem(new(), false)
                        </div>
                    }
                </Template>
            </DxStackLayoutItem>
        </Items>
    </DxStackLayout>
</BaseModalComponent>

@code{
    private RenderFragment RenderCondExpItem(ConditionalExpressionItem CondExpItem, bool IsAdded) => __builder =>
    {
        <ConditionItem SpotData="@SpotData.AsEnumerable()" CondExpItem="@CondExpItem" IsAdded=IsAdded Editable=Editable 
                       AddCondExpItemrCallback="AddItem" UpdCondExpItemrCallback="UpdateItem" DelCondExpItemrCallback="RemoveItem" />
    };
}
