<div class="p-2 h-100 overflow-auto">

    @if (EditorData != null)
    {
        @foreach (var Item in EditorData.Item.ItemListChangeHandler.Items)
        {
            @RenderPlannerItem(Item, true)
        }
        @RenderPlannerItem(new(), false)
    }
</div>


@code{

    private RenderFragment RenderPlannerItem(SchedulerPlannerItem schedulerPlannerItem, bool added) => __builder =>
    {
    <SchedulerPlannerItemComponent Editable="@Editable" IsAdded=@added @bind-EditorData="@EditorData" Item="@schedulerPlannerItem" />
    };
}
